:root {
  --accent: #fa3e0f;
  --light: #B6B7B2;
  --dark: #151A20;
}

body {
  font-size: 24px;
  margin: 0;
  font-family: 'Helvetica Neue', 'Quicksand', sans-serif;
  font-weight:300;
  color: black;
  min-height: 100vh;
  background-color: var(--accent);
}

em {
  font-family: 'Georgia', sans-serif;
  font-style: normal;
  font-weight: bold;
}

h1, h2 {
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
}

.big {
  font-size: 1.3em;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

header .logo a{
  height: 40px;
  display: block;
}

@media only screen and (max-width: 600px) {
  header .logo a{
    width: 40px;
    height: 40px;
    overflow: hidden;
    background-image: url(logo_black.png);
    background-size: contain;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center;
  }
  header .logo img {
    opacity: 0;
  }
}

div#avatar {
  width: 400px;
  height: 400px;
  background-image: url("new_alice.jpg");
  background-size: cover;
  background-clip: border-box;
  border: solid white 5px;
  border-radius: 50%;
  margin: 1em;
}

div#avatar img{
  width: 400px;
  height: 400px;
  opacity: 0;
}

div.links {
  display: flex;
  flex-direction: row;
}

div.links a{
  width: 1.4em;
  height: 1.4em;
  padding: 0.4em;
}

div.links a:hover{
  background-color: var(--light);
}

a, a:visited {
  color: inherit;
}

#hello div {
  margin-top: 2em;
}

section:nth-child(odd) {
  background-color: var(--light);
  color: black;
}

section:nth-child(even) {
  background: var(--dark);
  color: white;
}

::selection, a:hover {
  background-color: var(--accent);
  color: white;
}

.wrap {
  max-width: 800px;
}

blockquote {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  text-align: center;
}

blockquote::before, blockquote::after {
  font-size: 5em;
  line-height: 0.4;
  margin-top: 0.5em;
  margin-bottom: -0.4em;
  margin-right: 0.1em;
  margin-left: 0.1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  flex: 1;
}

blockquote::before {
  content: '“';
}

blockquote::after {
  content: '”';
}

blockquote div {
  flex: 8;
  min-width: 400px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

footer .copyright{
  font-size: 0.8em;
  margin: 0.3em;
}

.things {
  columns: 2;
  margin: 40px;
}

.things p:first-child {
  margin-top: 0;
}